<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Wellcome</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<body>
	<div class="container-fluid">
		<div class="row min-vh-100">
			<nav th:replace="~{block/sidebar :: sidebar}"></nav>
			<main class="col-12 col-md-9 col-lg-10 p-4">
			</main>
		</div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>